<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Appetizers</title>
</head>
<body>
    <h1>Select Appetizers</h1>
    <form method="post">
        {% for item in items %}
        <div>
            <input type="checkbox" name="appetizers" value="{{ item._id }}" {% if item.get('is_appetizer', False) %} checked {% endif %}>
            <label>{{ item.description }}</label>
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>   
</body>
</html>
